<form action="<%= track_comments_path(@track) %>" method="post">
  <textarea name="comment[content]" rows="6" cols="52"></textarea><br>
  <input type="submit" value='Comment' class="button is-orange">
</form>