<p>Create and account or sign in to comment and follow others on Soundcloud</p>
<%= link_to 'Create an account', new_user_registration_path, class: 'btn btn-accent' %>
<%= link_to 'Sign in', new_user_session_path, class: 'btn btn-secondary' %>
  