// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.navbar {
  background-color: #333333;
  color: white;
}

.navbar-light .navbar-brand {
  color: white
}

.navbar-light .navbar-nav .nav-link {
  color: white
}

.track-container:hover {
  background: gray;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery {
  background: white;
}

.gallery-cell {
  width: 20%;
  height: 200px;
  margin-right: 10px;
  counter-increment: gallery-cell;
  text-align: center;
}

.gallery-cell.is-selected {
  border-bottom: #ef5330 2px solid;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.gallery-image {
  height: 150px;
  width: 150px;
}