// Place all the styles related to the Profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.profile-photo {
  border-radius: 50%;
  background-color: gray;
  height: 150px;
  width: 150px;
}

.tracks {
  margin-top: 50px;
}

.btn-accent {
  background-color:#ef5330;
  color: white
}

.row {
  align-items: center;
}

.bio-field {
  height: 100px;
}

.field-requiered {
  color: red;
}

p {
  margin-bottom: 10px;
}

.cover-image {
  height: 100px;
  width: 100px;
}

.track-artist {
  font-size: 17px;
}

.track-title {
  font-size: 30px;
}

.tracklist-item {
  margin-bottom: 35px;
}