<% if current_user.nil? %>
  <br>
  <%= link_to 'Follow',  new_user_session_path, class: "button is-orange" %>
<% else %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'profile/unfollow' %>
  <% else %>
    <%= render 'profile/follow' %>
  <% end %>
  </div>
<% end %>